<div class="card-columns">

    <div class="card animated fadeIn fast">
        <google-chart #chart [title]="title" [type]="type" [data]="data" [columnNames]="columnNames" [options]="options" [width]="width" [height]="height">
        </google-chart>
        <div class="card-block">
            <h5 class="card-title p">Conci</h5>
            <p class="card-text p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fuga totam quis soluta iusto consequuntur praesentium ad doloremque debitis. Voluptates ratione distinctio doloremque repellendus id similique repudiandae vel harum fugit!</p>
            <!-- <p class="card-text p"><small class="text-muted">{{heroe.aparicion}}</small></p> -->

            <button type="button" class="btn btn-outline-primary btn-block">
               Ver mas...
           </button>
            <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más link...</a> -->
        </div>
    </div>


</div>