<!-- <div class="container no-margin">
    <div class="row">
        <div class="col-10">
            <div class="inline">
                <img class="logo" src="./assets/img/logo.png">  
            </div>
            <div class="inline">
                <h5 class="text-center">Sistema de Monitoreo de Conciliaciones</h5> 
            </div>
        </div>
        <div class="col">
            <app-user-info></app-user-info>
        </div>
    </div>  
</div> -->
<app-top-bar></app-top-bar>
<app-navbar></app-navbar>
<router-outlet></router-outlet>